header {
    .row_1 {
        padding: 5px 0;
        background: linear-gradient(90deg, #103B48 23.49%, #006098 51.51%, #103B48 77.01%);

        .topbar {
            display: flex;
            justify-content: space-between;

            p {
                color: #fff;
            }
        }
    }

    .row_2 {
        padding: 20px 0;

        .content {
            display: flex;
            align-items: center;
            justify-content: space-between;

            @media screen and (max-width:$mobile) {
                flex-wrap: wrap;
            }

            .column {
                &.column_0 {
                    @media screen and (max-width:$mobile) {
                        order: 1;
                        width: 10%;
                        display: block;
                    }

                    #hamburger {
                        width: 20px;
                        height: auto;

                        span {
                            width: 100%;
                            height: 2px;
                            display: block;
                            background-color: #000;

                            &:nth-child(2) {
                                margin: 5px 0;
                            }
                        }
                    }
                }

                &.column_1 {
                    @media screen and (max-width:$mobile) {
                        order: 2;
                        width: 60%;
                    }

                    >a {
                        display: flex;
                        align-items: center;

                        @media screen and (max-width:$mobile) {
                            justify-content: flex-end;
                        }

                        .logo {
                            margin-right: 20px;

                            @media screen and (max-width:$mobile) {
                                max-width: 75%;
                            }
                        }
                    }
                }

                &.column_2 {
                    @media screen and (max-width:$mobile) {
                        order: 4;
                        width: 100%;
                    }

                    >ul {
                        @media screen and (min-width:$mobile) {
                            display: flex;

                            li {
                                &:nth-child(1) {
                                    margin-right: 15px;
                                }

                                a {
                                    i {
                                        bottom: -4px;
                                        position: relative;
                                    }
                                }
                            }
                        }
                    }

                    .busca {
                        height: 45px;
                        box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.2);

                        @media screen and (min-width:$mobile) {
                            width: 500px;
                            margin-top: 10px;
                        }

                        @media screen and (max-width:$mobile) {
                            display: none;
                            margin-top: 20px;

                            &.active {
                                display: block;
                            }
                        }

                        legend,
                        label,
                        select {
                            display: none;
                        }

                        input {
                            float: left;

                            &.fulltext-search-box {
                                width: 90%;
                                height: 100%;
                                text-indent: 20px;
                            }

                            &.btn-buscar {
                                width: 10%;
                                height: 30px;
                                font-size: 0;
                                margin-top: 7px;
                                cursor: pointer;
                                background-position: center;
                                background-repeat: no-repeat;
                                background-color: transparent;
                                border-left: 1px solid #dcdcdc;
                                background-image: url('/arquivos/ico-lupa.png');
                            }
                        }
                    }
                }

                &.column_3 {
                    .btn.frete {
                        display: flex;
                        align-items: center;

                        i {
                            margin-right: 10px;
                        }

                        p {
                            line-height: 14px;

                            strong {
                                display: block;
                                font-size: 14px;
                                color: $cor-principal;
                            }

                            span {
                                font-size: 11px;
                            }
                        }
                    }
                }

                &.column_4 {
                    @media screen and (max-width:$mobile) {
                        order: 3;
                        width: 25%;
                    }

                    >ul {
                        display: flex;
                        align-items: center;
                        justify-content: center;

                        li {
                            &.option.account {
                                position: relative;
                                margin-right: 15px;

                                >a {
                                    display: flex;
                                    align-items: center;

                                    i {
                                        margin-right: 7px;
                                    }

                                    &:after {
                                        width: 7px;
                                        height: 7px;
                                        content: '';
                                        display: inline-block;
                                        transform: rotate(45deg);
                                        border-right: 1px solid #006098;
                                        border-bottom: 1px solid #006098;
                                    }

                                    &:hover {
                                        &+.hover {
                                            display: block;
                                        }
                                    }

                                    &+.hover {
                                        z-index: 1;
                                        width: 150px;
                                        height: auto;
                                        position: absolute;
                                        background-color: #fff;
                                        margin: -5px 0 0 -45px;
                                        padding: 10px 5px 5px 5px;

                                        &:hover {
                                            display: block;
                                        }

                                        ul {
                                            li {
                                                &:nth-child(1) {
                                                    a {
                                                        color: #fff;
                                                        background-color: #103B48;
                                                    }
                                                }

                                                a {
                                                    height: 40px;
                                                    line-height: 40px;
                                                    text-align: center;
                                                }
                                            }
                                        }
                                    }
                                }
                            }

                            a {
                                &:not(.dis-none) {
                                    display: block;
                                }

                                &.btn.busca {
                                    @media screen and (max-width:$mobile) {
                                        margin-right: 10px;

                                        svg {
                                            width: 26px;
                                            height: 26px;
                                        }
                                    }
                                }

                                &#cart {
                                    position: relative;

                                    >span {
                                        top: -6px;
                                        right: -2px;
                                        width: 15px;
                                        height: 15px;
                                        display: block;
                                        color: white;
                                        font-size: 12px;
                                        line-height: 14px;
                                        position: absolute;
                                        text-align: center;
                                        border-radius: 50px;
                                        background-color: #F7941D;

                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    .row_3 {
        @media screen and (min-width:$mobile) {
            background-color: $cor-principal;
        }

        >.container {
            .content {
                @media screen and (min-width:$mobile) {
                    display: flex;
                    flex-wrap: wrap;
                    position: relative;
                    flex-direction: row;
                    justify-content: center;
                }

                section {
                    &.menu_1 {
                        @media screen and (min-width:$mobile) {
                            width: 15%;
                        }

                        &#nav-menu {
                            @media screen and (max-width:$mobile) {
                                top: 0;
                                width: 85%;
                                height: 89%;
                                left: -100%;
                                z-index: 9999999999;
                                position: fixed;
                                overflow-x: hidden;
                                transition: left 300ms;
                                background-color: #F6F6F6;

                                &.active {
                                    left: 0;
                                }

                                .login_mobile {
                                    display: block !important;
                                    margin-bottom: 10px;

                                    span,
                                    a {
                                        display: block;
                                        padding: 0 15px;
                                    }

                                    a {
                                        font-weight: bold;
                                    }
                                }
                            }
                        }

                        p {
                            @media screen and (min-width:$mobile) {
                                display: flex;
                                height: 100%;
                                cursor: pointer;
                                font-size: 14px;
                                font-weight: 400;
                                line-height: 14px;
                                align-items: center;
                                color: #fff;
                                padding: 10px 7px;

                                &:hover {
                                    +.header {
                                        +nav {
                                            opacity: 1;
                                            visibility: visible;
                                        }
                                    }
                                }

                                i {
                                    padding-right: 5px;

                                    span {
                                        display: block;
                                        width: 25px;
                                        height: 3px;
                                        border-radius: 5px;
                                        margin-bottom: 5px;
                                        transition: all 300ms;
                                        background-color: #fff;

                                        &:last-child {
                                            margin-bottom: 0;
                                        }
                                    }
                                }
                            }
                        }

                        .header {
                            @media screen and (max-width:$mobile) {
                                padding: 15px;
                                align-items: center;
                                display: flex !important;

                                i {
                                    margin-right: 15px;

                                    span {
                                        display: block;
                                        width: 25px;
                                        height: 3px;
                                        border-radius: 5px;
                                        margin-bottom: 5px;
                                        transition: all 300ms;
                                        background-color: #000;

                                        &:last-child {
                                            margin-bottom: 0;
                                        }
                                    }
                                }

                                span.name {
                                    font-size: 16px;
                                    font-weight: bold;
                                }
                            }
                        }

                        nav {
                            @media screen and (min-width:$mobile) {
                                z-index: 2;
                                display: flex;
                                flex-wrap: wrap;
                                flex-direction: row;
                                position: absolute;
                                width: 870px;
                                height: 480px;
                                opacity: 0;
                                overflow: hidden;
                                visibility: hidden;
                                background-color: white;

                                &:hover {
                                    opacity: 1;
                                    visibility: visible
                                }
                            }

                            >.column_1 {
                                &.disabled {
                                    display: none !important;
                                }

                                @media screen and (min-width:$mobile) {
                                    z-index: 1;
                                    width: 30%;
                                    border-top: 5px solid $title;
                                    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.15);
                                }

                                >ul {
                                    @media screen and (min-width:$mobile) {
                                        padding: 20px 0;
                                    }

                                    @media screen and (max-width:$mobile) {
                                        padding: 0 15px;
                                    }

                                    li {
                                        a {
                                            display: flex;
                                            font-size: 15px;
                                            font-weight: bold;
                                            align-items: center;
                                            justify-content: space-between;

                                            @media screen and (min-width:$mobile) {
                                                text-indent: 20px;
                                                margin-bottom: 10px;
                                            }

                                            @media screen and (max-width:$mobile) {
                                                height: 50px;
                                                line-height: 50px;

                                                &:after {
                                                    content: '';
                                                    width: 8px;
                                                    height: 8px;
                                                    display: inline-block;
                                                    transform: rotate(-45deg);
                                                    border-right: 2px solid #949494;
                                                    border-bottom: 2px solid #949494;
                                                }
                                            }
                                        }
                                    }
                                }
                            }

                            >.column_2 {
                                @media screen and (min-width:$mobile) {
                                    width: 70%;
                                    overflow: hidden;
                                    position: relative;
                                    background-color: #F7F7F7;
                                }

                                @media screen and (max-width:$mobile) {
                                    padding: 0 15px;
                                    width: 100%;
                                    height: auto;
                                    display: none;
                                    background-color: #f6f6f6;

                                    &.active {
                                        right: 0;
                                        display: block;
                                    }

                                    #nav-menu-back {
                                        padding: 15px;
                                        font-size: 15px;
                                        margin: 0 -15px;
                                        margin-bottom: 10px;
                                        background-color: #E5E5E5;

                                        &:before {
                                            content: '';
                                            font-weight: bold;
                                            margin-right: 10px;
                                            width: 8px;
                                            height: 8px;
                                            display: inline-block;
                                            transform: rotate(45deg);
                                            border-left: 2px solid black;
                                            border-bottom: 2px solid black;
                                        }
                                    }
                                }

                                .content {
                                    display: none;

                                    @media screen and (max-width:$mobile) {
                                        &.active {
                                            display: block;
                                        }
                                    }

                                    @media screen and (min-width:$mobile) {
                                        top: 0;
                                        width: 100%;
                                        height: 100%;
                                        display: flex;
                                        left: -100%;
                                        opacity: 0;
                                        padding-left: 40px;
                                        position: absolute;
                                        flex-direction: row;
                                        transition: left 300ms;
                                        justify-content: flex-start;

                                        &.active {
                                            opacity: 1;
                                            left: 0;
                                        }
                                    }

                                    .column_1,
                                    .column_2 {
                                        ul {
                                            @media screen and (min-width:$mobile) {
                                                padding: 20px 0;
                                            }
                                        }
                                    }

                                    .column_1,
                                    .column_2,
                                    .column_3 {
                                        width: 33.3%;

                                        @media screen and (max-width:$mobile) {
                                            width: 100%;
                                        }

                                        ul {
                                            li {
                                                a {
                                                    font-size: 15px;
                                                    display: block;
                                                    margin-bottom: 10px;
                                                }
                                            }
                                        }

                                        img {
                                            width: 100%;
                                            height: auto;

                                            @media screen and (max-width:$mobile) {
                                                display: none;
                                            }
                                        }
                                    }

                                    .column_3 {
                                        display: none;
                                    }
                                }
                            }
                        }

                        .footer {
                            margin-top: 60px;
                            padding: 25px 15px;
                            border-top: 1px solid #dcdcdc;

                            ul {
                                li {
                                    &:first-child {
                                        margin-bottom: 15px;
                                    }

                                    a {
                                        display: flex;
                                        align-items: center;

                                        i {
                                            margin-right: 5px;
                                        }

                                        p {
                                            strong {
                                                color: $title;
                                                display: block;
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }

                    &.menu_2 {
                        @media screen and (min-width:$mobile) {
                            width: 85%;
                        }

                        @media screen and (max-width:$mobile) {
                            margin: 0 -15px;
                            padding: 5px 0 5px 15px;
                            background-color: $cor-principal;
                            position: relative;
                            z-index: 1;
                        }

                        >ul {
                            width: 100%;
                            height: 100%;
                            display: flex;

                            @media screen and (min-width:$mobile) {
                                padding-left: 15px;
                                flex-direction: row;
                                align-items: center;
                                justify-content: space-between;
                            }

                            @media screen and (max-width:$mobile) {
                                flex-wrap: nowrap;
                                justify-content: initial;
                                overflow-x: auto;
                                -webkit-overflow-scrolling: touch;
                                -ms-overflow-style: -ms-autohiding-scrollbar;
                            }

                            li {
                                @media screen and (max-width:$mobile) {
                                    flex: 0 0 auto;

                                    &:not(:last-child) {
                                        margin-right: 10px;
                                    }
                                }

                                @media screen and (min-width:$mobile) {
                                    height: 100%;

                                    &:hover {
                                        .submenu {
                                            opacity: 1;
                                            visibility: visible;
                                        }
                                    }
                                }

                                &:last-child {
                                    span {
                                        &:after {
                                            display: none;
                                        }
                                    }
                                }

                                a {
                                    display: flex;
                                    align-items: center;

                                    @media screen and (min-width:$mobile) {
                                        height: 100%;
                                        padding: 5px 0;
                                    }

                                    i {
                                        margin-right: 5px;
                                    }

                                    span {
                                        color: #fff;
                                        font-size: 14px;
                                        font-weight: 400;
                                        line-height: 14px;
                                        position: relative;

                                        @media screen and (max-width:$mobile) {
                                            br {
                                                display: none;
                                            }
                                        }
                                    }
                                }

                                .submenu {
                                    opacity: 0;
                                    visibility: hidden;
                                    display: flex;
                                    flex-wrap: wrap;
                                    position: absolute;
                                    top: 48px;
                                    left: 0;
                                    background: white;
                                    z-index: 3;
                                    width: 100%;
                                    height: auto;
                                    padding: 10px;

                                    @media screen and (min-width:$mobile) {
                                        border-bottom: 7px solid #1a3164;
                                    }

                                    //ONLY DESKTOP
                                    @media screen and (max-width:$mobile) {
                                        display: none;
                                    }

                                    &.active {
                                        top: 0;
                                        opacity: 1;
                                        visibility: visible;
                                    }

                                    .column {
                                        width: 25%;

                                        @media screen and (max-width:$mobile) {
                                            width: 100%;
                                        }

                                        ul {
                                            li {
                                                a {
                                                    font-size: 15px;
                                                    display: block;

                                                    @media screen and (min-width:$mobile) {
                                                        padding-bottom: 10px;
                                                    }
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }

        .close {
            display: none;
        }
    }
}