.institucional {
    main {
        padding: 30px 0;
        
        h2 {
            color: $title;
            font-size: 30px;
            font-weight: bold;
            line-height: 30px;
            margin-bottom: 30px;
        }

        p {
            margin-bottom: 15px;

            strong {
                font-size: 17px;
                font-weight: bold;
                color: $title;

                @media screen and (max-width:$mobile) {
                    font-size: 22px;
                    text-align: center;
                }
            }
        }
    }
}