.login {
    background-color: #F0F0F0;

    .columns {
        @media screen and (min-width:$mobile) {
            display: flex;
            align-content: center;
            justify-content: space-between;
        }

        @media screen and (max-width:$mobile) {
            padding: 80px 0px;
        }

        .column {
            &.column_1 {
                display: flex;
                flex-direction: column;
                justify-content: center;

                @media screen and (min-width:$mobile) {
                    width: 30%;
                }

                .step {
                    form {
                        width: 100%;
                        height: auto;
                        max-width: 600px;

                        &#login {
                            margin-bottom: 80px;
                        }

                        &#cadastrar {
                            .options {
                                display: flex;
                                align-items: center;
                                justify-content: space-between;

                                &:not(.finish) {
                                    .back,
                                    input[type="submit"] {
                                        display: none;
                                    }
                                    
                                }

                                &.finish {
                                    .next {
                                        display: none;
                                    }
                                }

                                li {
                                    input[type="submit"]  {
                                        margin: 0;
                                    }

                                    a {
                                        &.back {
                                            font-size: 14px;
                                            font-weight: bold;
                                        }

                                        &.next {
                                            width: auto;
                                            height: 45px;
                                            color: #fff;
                                            display: block;
                                            padding: 0 20px;
                                            font-size: 15px;
                                            font-weight: bold;
                                            line-height: 45px;
                                            text-decoration: none;
                                            text-transform: uppercase;
                                            background-color: $cor-principal;
                                            box-shadow: 0px 4px 4px rgba(0, 96, 152, 0.15);
                                        }
                                    }
                                }
                            }
                        }

                        fieldset {
                            .title {
                                display: flex;
                                font-size: 25px;
                                align-items: center;
                                margin-bottom: 20px;

                                svg {
                                    margin-right: 15px;
                                }
                            }

                            .description {
                                font-size: 16px;
                                line-height: 19px;
                                margin-bottom: 20px;
                            }

                            //DIGITE O SEU CNPJ
                            .input {
                                width: 100%;
                                height: 45px;
                                display: flex;
                                border-radius: 2px;
                                align-items: center;
                                background-color: #fff;
                                justify-content: space-between;
                                box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.05);

                                input {
                                    height: 100%;

                                    &[type="text"] {
                                        width: 80%;
                                        text-indent: 10px;
                                        background-color: transparent;
                                    }

                                    &[type="submit"] {
                                        width: 20%;
                                        font-size: 0;
                                        cursor: pointer;
                                        background-color: #F7941D;
                                        background-position: center;
                                        background-repeat: no-repeat;
                                        background-image: url('/arquivos/arrow-input.png');
                                    }
                                }
                            }

                            label {
                                i {
                                    color: red;
                                }

                                >input {
                                    &:not([type="submit"]) {
                                        width: 100%;
                                        height: 45px;
                                        text-indent: 10px;
                                        border-radius: 2px;
                                        margin: 5px 0 15px;
                                        background-color: #fff;
                                        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.05);
                                    }

                                    &[readonly="readonly"] {
                                        cursor: no-drop;
                                        pointer-events: none;
                                        background-color: #dcdcdc;
                                    }
                                }
                            }

                            .validate_password {
                                transition: color 300ms;

                                &.active {
                                    color: $cor-cta;
                                }
                            }

                            input[type="submit"] {
                                width: 100%;
                                height: 45px;
                                color: #fff;
                                margin: 20px 0;
                                font-size: 15px;
                                padding: 0 30px;
                                cursor: pointer;
                                font-weight: bold;
                                text-align: center;
                                text-transform: uppercase;
                                background-color: $cor-principal;
                                box-shadow: 0px 4px 4px rgba(0, 96, 152, 0.15);
                            }

                            .buttons {
                                text-align: right;

                                a {
                                    font-size: 14px;
                                    font-weight: bold;
                                    text-decoration: underline;
                                }
                            }
                        }
                    }
                }
            }

            &.column_2 {
                width: 65%;

                img {
                    max-width: inherit;
                }
            }
        }
    }
}