.prateleira {
    &:not(.compre_junto) {
        margin: 30px 0;
    }

    .slick-initialized {
        @media screen and (max-width:$mobile) {
            margin-right: -15px;
        }
    }

    h2 {
        font-size: 20px;
        color: #444444;
        display: flex;
        font-weight: bold;
        padding-left: 8px;
        margin-bottom: 10px;
        align-items: center;
        justify-content: space-between;

        small {
            font-size: 16px;
            font-weight: normal;
        }
    }

    ul {
        display: flex;
        flex-wrap: wrap;

        li {
            padding: 10px;

            //DESKTOP
            @media screen and (min-width:$mobile) {
                width: calc(100% / 4);
            }

            //MOBILE
            @media screen and (max-width:$mobile) {
                max-width: 250px;
            }

            article {
                padding: 10px;
                position: relative;
                transition: box-shadow 300ms;

                .trustvox-showcase {
                    top: 0;
                    right: 7px;
                    text-align: right;
                    position: absolute;
                }

                @media screen and (min-width:$mobile) {
                    text-align: center;
                }

                @media screen and (max-width:$mobile) {
                    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.15);
                }

                &:hover {
                    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.15);

                    .buy-button-normal a {
                        opacity: 1;
                    }
                }

                .image {
                    display: block;
                    
                    .options {
                        display: none;
                    }

                    img {
                        // width: 100%;
                        width: 90%;
                        height: auto;
                    }
                }

                .name {
                    a {
                        display: block;
                        margin-top: 10px;

                        @media screen and (min-width:$mobile) {
                            height: 90px;
                            font-size: 16px;
                            font-weight: 600;
                            line-height: 16px;
                        }

                        @media screen and (max-width:$mobile) {
                            height: 70px;
                            font-size: 13px;
                            font-weight: 400;
                            line-height: 16px;
                        }
                    }
                }

                .price {
                    height: 75px;
                    margin: 10px 0;

                    .por {
                        margin: 10px 0;
                        font-size: 26px;
                        color: #006098;
                        font-weight: 900;
                        small{
                            margin-left: 2px;
                            font-size: 14px;
                            color: #444444;
                            font-weight: normal;
                        }
                        @media screen and (max-width:$mobile) {
                            font-size: 20px;
                        }
                    }

                    .installment {
                        line-height: 16px;
                        padding: 0 15px;
                        strong {
                            color: $title;
                        }
                    }
                }

                .no-estoque {
                    color: red;
                }

                .buy-button-normal a {
                    width: 100%;
                    height: 45px;
                    display: flex;
                    font-size: 20px;
                    color: #fff;
                    font-weight: 400;
                    margin-top: 10px;
                    line-height: 45px;
                    border-radius: 3px;
                    align-items: center;
                    justify-content: center;
                    text-transform: uppercase;
                    transition: opacity 300ms;
                    background-color: #F7941D;
                    box-shadow: 0px 4px 8px rgba(158, 105, 27, 0.4);
                    
                    &:before {
                        width: 30px;
                        height: 30px;
                        content: '';
                        display: block;
                        margin-right: 10px;
                        background-size: 100%;
                        background-position: center;
                        background-repeat: no-repeat;
                        background-image: url(/arquivos/ico-cart.png);
                    }
                    
                    @media screen and (min-width:$mobile) {
                        opacity: 0;
                    }
                }
            }
        }
    }
}