header .row_2 .content .column.column_2 .busca.actived{
    z-index: 999;
    display: block;
    position: relative;
    background: #fff;
}
.result-search{
    .container{
        background: #fff;
    }
    .button-veja_mais {
        width: 98%;
        text-align: center;
        background: #006098;
        padding: 10px 0;
        color: #fff;
        font-size: 17px;
        font-weight: bold;
        margin-top: 15px;
        z-index: 2;
        display: none;
        margin: 1%;
        border-radius: 4px;
        &.actived{
            display: block;
        }
    }
    .ver_produto{
        font-size: 16px;
        font-weight: bold;
        color: #006098;
    }
}

.result-search.desktop {
    height: 380px;
    z-index: 9999;
    position: absolute;
    top: 130px;
    // background: #fff;
    left: 0;
    right: 0;
    .container{
        position: relative;
        overflow: hidden;
    }
    .arrow-left, .arrow-right{
        position: absolute;
        top: 50%;
        z-index: 1;
        width: 27px;
        height: 27px;
        font-size: 0;
        border: none;
        display: block;
        cursor: pointer;
        line-height: 38px;
        margin-top: -15px;
        text-align: center;
        border-radius: 50px;
        transition: opacity 300ms;
        background-color: #fff;
        box-shadow: 0px 3px 4px 0px grey;
        
        &:after {
            content: '';
            display: inline-block;
            width: 10px;
            height: 10px;
            border-right: 2px solid gray;
            border-bottom: 2px solid gray;
        }
    }
    .arrow-left{
        left: 15px;
        &:after {
            transform: rotate(135deg);
            margin-right: -3px;
        }
    }
    .arrow-right{
        right: 15px;        
        &:after {
            transform: rotate(-45deg);
            margin-left: -3px;
        }
    }
    .result-display{
        height: 310px;
        text-align: center;
        display: inline-block;
        .slider{
            text-align: center;
            transform: rotate(-90deg) translateY(-380px);
            overflow-y: auto;
            overflow-x: hidden;
            transform-origin: right top;
            height: 1170px;
            overflow: auto;
            -ms-overflow-style: none; /* IE 11 */
            scrollbar-width: none; /* Firefox 64 */
            &::-webkit-scrollbar {
                display: none;
            }
            .result-item{
                transform: rotate(90deg);
                text-align: center;
                height: 340px;
                padding: 0 15px;
                width: 320px;
                max-height: 360px;
                margin-right: 60px;
                .image{
                    height: 150px;
                    display: inline-block;
                    max-width: 150px;
                    img{
                        width: 100%;
                        max-height: 150px;
                    }
                }
                .name{
                    margin: 15px 0px;
                }
            }
        }
    }
}

@media (max-width: 1200px){
    .result-search.desktop{
        top: 140px;
    }
}

@media (max-width: 768px){
    .result-search{
        .button-veja_mais {
          width: 100%;
          margin: 0px;
      }
    }
    .result-search.mobile_s{
        position: absolute;
        z-index: 9999;
        top: 130px;
        background: #fff;
        left: 0;
        right: 0;
        .slider{
            height: calc(100% - 220px);
            overflow: scroll;
        }
        .button-veja_mais {
            position: fixed;
            bottom: 0;
        }
        .result-display{
            .result-item{
                height: 110px;
                padding: 0 10px;
                .image, .name, .preco{
                    display: inline-block;
                }
                .image{
                    height: 90px;
                    width: 90px;
                    display: inline-flex;
                    justify-content: center;
                    align-items: center;
                    img{
                        max-width: 100%;
                        max-height: 90px;
                    }
                }
                .name{
                    margin: 15px 0px;
                }
                .preco{
                    font-size: 17px;
                }
                .infos{
                    float: right;
                    width: calc(100% - 105px);
                }
            }
        }
    }
}